# Ignore VSCode settings
.vscode/

# Ignore environment files
.venv_ai_project/

# Ignore models implementation files
code/models/*.zip

# Ignore Python cache files
**/__pycache__/
code/decision_transformer.egg-info/*
