# Ignore VSCode settings
.vscode/

# Ignore environment files & python version
.python-version

# Ignore Python cache files
**/__pycache__/
src/dt_project.egg-info/*

# Ignore models implementation files
**/models/**/*.zip
**/models/DT/*_*

# Ignore trajectories files
**/*.pkl
